.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 20px;
    z-index: 1050;
    transition: transform 0.3s ease-in-out;
}

.sidebarOpen {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(100%);
    }

    .sidebarOpen {
        transform: translateX(0%);
    }
}

.dashboardContainer {
    display: flex;
    flex-direction: row-reverse;
    /* عشان السايدبار يمين */
}

.pageContent {
    flex-grow: 1;
    padding: 0;
    margin-right: 250px;
}

@media (max-width: 768px) {
    .pageContent {
        margin-right: 0;
    }
}

.toggleButton {
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}