.btn-custom {
    background-color: var(--color5);
    color: var(--color3);
    transition: all 0.5s;
}

.btn-custom:hover {
    background-color: #00643a;
    transition: all 0.5s;
    color: var(--color3);
}

.nav {
    background-color: transparent;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-link {
    position: relative;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2575fc;
    /* لون الخط السفلي */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active {
    width: 100%;
}


.nav-link:hover {
    color: #2575fc;
}

.showNavbar {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.hideNavbar {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}